.SearchInput {
  background: white !important;
  margin-right: 10px;
}
.MovieContainer {
  max-width: 70% !important;

  border-radius: 30px;
}
.SearchFlex {
  background: #330067;
  justify-content: end;
  height: 70px;
  align-items: center;
  padding-right: 15%;
  margin-bottom: 40px;
}
.search-bottom {
  margin-right: 15px;
  color: #330067 !important;
}
.grid-movies {
  margin: auto;
  padding-top: 30px;
}
.movies-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
body {
  background-color: #fbce99 !important;
}
